# python
manage.py
*.pyo
*.pyc
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.DS_Store
__pycache__
venv*

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.sqlite3

# compiled output
/static

# IDEs
/.idea